body {
  background-color: lightblue;
  
}
:root {
  --color-poc: darkblue;
}



app-element::part(hello) {
  font-size: xx-large;
}

#navbar {
  background-color: darkblue;
  color:white;
  font-weight: bolder;
}
#navbar a{
  text-decoration: none;
  padding:2em;
  margin: 2em;
}
#navbar a:visited{
  color:white;
  
}
